.detail-all
  height:100%
  width 100%
  overflow hidden
  .detail-container
    height calc(100% - 100px)
    width 100%
    display flex
    justify-content center
    align-items center
    overflow-x hidden
    .detail-list
      height 100%
      width 70%

