Leftwidth=256px
.all
  height: auto
  width 100%
  position absolute
  background rgb(4,20,39)
  .navLeft
    height:100%
    float left
    width Leftwidth
    background-color rgb(0,21,40)
  .right
    height:100%
    float left
    width "calc(100% - %s)" % Leftwidth
    background-color rgb(241,243,245)
    .header
      height:120px
    .container
      position relative
      height calc(100% - 520px)
      min-width 800px
      min-height 540px
      margin 10px 40px 10px 40px
      border 1px solid #ccc
      box-shadow 5px 5px 5px #ccc
      background:white
      border-radius 5px
    .footer
      height:120px