.Info-all
  position absolute
  width 100%
  height 100%
  .info-left
    position relative
    height:100%
    display flex
    justify-content flex-end
    align-items center
  .info-right
    position relative
    height 100%
    display flex
    justify-content flex-start
    align-items center
    .CourseInfo
      height: calc(100% - 50px)
      padding-top:50px
      width: 100%
      overflow-x  hidden

