.back
  height: 100vh
  width: 100%
  min-width 1400px
  background-image url("/assets/login-background.jpg")
  background-size cover
  background-color rgb(241,241,241)
  .back2
    height: 100%
    width 100%
    opacity 0.6
    background-color black
    .LoginDiv
      height: 30vh
      width: 80%
      margin-top 33%
      background-color white
      border-radius 25px
      .tips
        font-size 20px
        margin-bottom 20px
        color black
      .inputCss
        height:35px
        width: 100%
        margin-bottom 20px
        border-radius 10px
        border 1px solid black
        font-size 30px
      .check
        height:35px
        width 80px
        float right
        border 1px solid black
        border-radius 10px
        background-color #ccc


